extends layout

block content
  header gTables
    a.new(href='/rests/new') New Restaurant
  for rest in rests
    div.resto
      a.link(name='id', href='/rests/#{rest.id}')
      p.name.padIt= rest.name
      img.small(src = rest.image)
      p.cuisine.padIt #{rest.cuisine} Cuisine
      div.bottom
        p.location.padIt #{rest.location}, #{rest.state}
        div.rating.padRt
          -var rating = rest.rating
          -for(var i = 0; i < rating; i++)
            i.fa.fa-star
