extends layout

block content
  header gTables
    a.goToNew(href='/rests/new') New Restaurant
  for rest in rests
    div.restoContainer
      a.hiddenLink(name='id', href='/rests/#{rest.id}')
      p.restoName.padL= rest.name
      img.restoImg(src = rest.image)
      p.restoCuisine.padL #{rest.cuisine} Cuisine
      div.restoBottom
        p.restoLocation.padL #{rest.location}, #{rest.state}
        div.restoRating.padR
          -var rating = rest.rating
          -for(var i = 0; i < rating; i++)
            i.fa.fa-star
