extends layout

block content
  header New Restaurant
  form.newForm(method='post', action='/rests')
    fieldset
      if error
        p.redText Please complete all fields.
      legend Create Restaurant
      br

      label.block.margTop0(for='name') Name:
      if name
        input.block(type='text', name='name', value=name)
      else  
        input.block(type='text', name='name', placeholder='Restaurant Name')
      br

      label.block(for='street1')
      if street1
        input.block(type='text', name='street1', value=street1)
      else
        input.block(type='text', name='street1', placeholder="Street 1")

      label.block(for='street2')
      if street2
        input.block(type='text', name='street2', value=street2)
      else
        input.block(type='text', name='street2', placeholder="Street 2 (optional)")

      label.block(for='zip')
      if zip
        input.block(type='number', name='zip', value=zip)
      else
        input.block(type='number', name='zip', placeholder="zip")

      label.block(for='location') Location:
      if location
        input.block(type='text', name='location', value=location)
      else
        input.block(type='text', name='location', placeholder='City')
      br
      select.block(name='state')
        for state in states
          option(value= state, selected = (statey == state ? true : undefined)) #{state}
      br

      label.block(for='cuisine') Cuisine:
      select.block(name='cuisine')
        for cuisine in cuisineList
          option(value=cuisine, selected = (cuisiney == cuisine ? true : undefined)) #{cuisine}
      br
      if rating
        div.radio
          label.margRight12(for='rating') Rating: 
          input.radio(type='radio',name='rating',value='1', checked=(rating == 1 ? true : undefined))
          input.radio(type='radio',name='rating',value='2', checked=(rating == 2 ? true : undefined))
          input.radio(type='radio',name='rating',value='3', checked=(rating == 3 ? true : undefined))
          input.radio(type='radio',name='rating',value='4', checked=(rating == 4 ? true : undefined))
          input.radio(type='radio',name='rating',value='5', checked=(rating == 5 ? true : undefined))
      else
        div.radio
          label.margRight12(for='rating') Rating:  
          input.radio(type='radio',name='rating',value='1')
          input.radio(type='radio',name='rating',value='2')
          input.radio(type='radio',name='rating',value='3', checked)
          input.radio(type='radio',name='rating',value='4')
          input.radio(type='radio',name='rating',value='5')
      br
      div.imageContainer
        label(for='image').margRight12 Image:
        if image
          input.image(type='text', name='image', value=image)
        else
          input.image(type='text', name='image', placeholder='Image URL')
      br
      select.block(name='neighborhood')
        for neighborhood in neighborhoods
          option(value= neighborhood.id, selected=(neighborhoodSelected == neighborhood.id ? true : undefined)) #{neighborhood.name}
      if bio
        textarea.block(name='bio', rows='10', cols='40') #{bio}
      else
        textarea.block(name='bio', rows='10', cols='40', placeholder='Short Bio')
      div.btns
        button.button(type='submit', name='submit', value='submit') Submit
        button.button.red(type='submit', name='submit', value='cancel') Cancel
      
