extends layout

block content
  header= rests.name
  img.showImage(src= rests.image)
  div.showRight
    p.showText #{rests.cuisine} cuisine
    br
    p.showText Located in #{rests.location}, #{rests.state}
    br
    p.showText #{rests.bio}
    br
    p 
      span.showText Rating: 
      -var rating = rests.rating
      -for(var i = 0; i < rating; i++)
        i.yellow(class="fa fa-star")
    div.buttonsDiv
      a.button(href='/rests/'+rests.id+'/edit') Edit
      a.button(href='/rests/'+rests.id+'/review') Add Review
      form(action='/rests/'+rests.id+'/delete', method='get')
            input.button.red(type='submit', name='delete', value='Delete')
  div.reviews
    if reviews
      for review in reviews
        div.reviewContainer
          div.reviewHeader
            p #{review.name}
            p #{review.date}
          p.review.r #{review.review}  
          div.revBottom
            p.revRating 
              span.showText Rating: 
              -var rating = review.rating
              -for(var i = 0; i < rating; i++)
                i.yellow(class="fa fa-star")
            a.button(href='/rests/'+review.id+'/edit') Edit
