extends ../layout

block content
  header= name
  .mapInfo Latitude: #{lat.toFixed(2)}
  .mapInfo Longitude: #{lng.toFixed(2)}
  .mapInfo #{addy}
  #map.mapDimensions
  script.
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat:Number(#{lat}) , lng:Number(#{lng})},
        zoom: 14
      })
    }
  a.mapInfo.center(href='/neighborhoods') Back
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBWHslvJ4xsQrljwVEgg_cn6z3W-TqMYq0&callback=initMap')
